<div class="card mb-3">
  <div class="card-body">
    <h3 class="card-title">{{ review.title }}</h3>
    <p class="card-text">{{ review.body }}</p>
    <p class="card-text"><strong>Valutazione:</strong> {{ review.rating }} / 10</p>
    <p class="card-text"><strong>Data di creazione:</strong>
      <span [ngbTooltip]="review.createdAt | date: 'dd/MM/yyyy, HH:mm'">{{ review.createdAt | amTimeAgo }}</span>
    </p>
    <p class="card-text text-end">Scritta da: <strong>{{ review.user?.username ?? 'Unknown' }}</strong></p>

    <div *ngIf="review.comments && review.comments.length > 0" class="comments-section">
      <h4>Commenti</h4>
      <div *ngFor="let comment of review.comments" class="comment-container">
        <app-comment [comment]="comment"
                     (editComment)="onEditComment($event)"
                     (deleteComment)="onDeleteComment($event)"
                     (reply)="onReplyComment($event)"></app-comment>
      </div>
    </div>

    <button *ngIf="createdByCurrenUser()" class="btn btn-secondary mt-3" (click)="onEditReview()">Modifica Recensione</button>
    <button *ngIf="createdByCurrenUser()" class="btn btn-danger mt-3" (click)="onDeleteReview()">Elimina Recensione</button>
    <button *ngIf="!createdByCurrenUser()" class="btn btn-primary mt-3" (click)="onAddComment()">Aggiungi Commento</button>
  </div>
</div>
