@import '../../../styles/colors';


#register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 170px);
}

.register-wrapper{
  border-radius: 30px;
  background-color: $main-blue-transparent2;
  width: 700px;

}

