@import '../../../styles/colors';

.top-rated-movies {

  margin-top: 100px;
  h2 {
    text-align: start;
    margin-bottom: 20px;
  }


  ul {
    list-style: none;
    padding: 0;
    margin: 2em 0 7em 0;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      background: rgba(0, 0, 0, 0.85);
      background-image: url(../../../assets/img/misc/film-progress.png);
      background-size: contain;
      border-radius: 10px;
      padding: 10px;
      transition: width 0.3s ease-in-out;



      .movie-details {
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;

        .poster {
          width: 100px;
          height: auto;
          border-radius: 10px;
        }

        .info {
          h3 {
            margin: 0;
            color: hsl( from $main-blue h calc(s + 50) l   ) ;

            text-transform: uppercase;
            font-weight: 600;
          }

          p {
            margin: 5px 0 0;
            color: white;
          }
        }
      }
    }
  }


}

.pointer{
  cursor: pointer;
}
