$main-grey: #2c2c2c;
$main-yellow:#ffe404;
$dark-deep-red: rgb(75, 0, 0);
$forse-giallo:rgb(180, 138, 0);

//~TEST NUOVA PALETTE~
$main-blue: #3f5e5f;
$main-cream: #f5ead7;
$main-dark-blue: #011318;
$main-red: #a92818;
$dark-red: #942517;
//--------------------
