.under-construction-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


  h1{
    text-align: center;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 7em;
  }


}

.image-container {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
}

img {
  max-width: 100%;
  height: auto;
}
