<header [ngClass]="{'scrolled': scrolled}" class="sticky-top d-flex flex-wrap align-items-center justify-content-between py-2 ps-3 pe-5">
  <ul class="nav justify-content-center align-items-center mb-md-0 gap-5">
    <img routerLink="/home" class="me-2 logo large-logo" src="../../../assets/img/logo-film.png" alt="logo">
    <img routerLink="/home" class="me-2 logo small-logo" src="../../../assets/img/film.png" alt="logo">


  </ul>

  <div class=" text-end d-flex align-items-center right-buttons justify-content-end">
    <a *ngIf="!isUserLoggedIn" routerLink="/auth/login" class="auth-link login-link mx-2">ACCEDI</a>
    <a *ngIf="!isUserLoggedIn" routerLink="/auth/register" class="auth-link register-link mx-2">REGISTRATI</a>

    <div *ngIf="isUserLoggedIn && currentUser" class="dropdown pointer">
      <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
        <img [src]="currentUser.avatar || 'assets/img/default-avatar.png'" alt="avatar" class="rounded-circle me-2 avatar">
        <span>{{ currentUser.username }}</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end text-small shadow" aria-labelledby="dropdownUser">
        <li *ngIf="isAdmin"><a  class="dropdown-item" routerLink="/companies">Companies</a></li>
        <li *ngIf="isAdmin"><a class="dropdown-item" routerLink="/people">People</a></li>
        <li><a class="dropdown-item" routerLink="/profile">Profilo</a></li>
        <li><a class="dropdown-item" (click)="logout()">Esci</a></li>
      </ul>
    </div>
  </div>
</header>
