@import '../../../styles/colors';

header {
  height: 70px;
  background-color: $main-dark-blue;
  backdrop-filter: blur(20px);
  font-family: "Hammersmith One", sans-serif;
  transition: all 0.3s ease;


  &.scrolled {
    background-color: $main-blue-transparent;
    box-shadow: inset 0 -2px 8px rgba(255, 255, 255, 0.26);
  }
}

.nav a {
  font-size: 1.4em;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.logo {
  height: 50px;
  cursor: pointer;
}

.avatar {
  height: 30px;
  aspect-ratio: 1;
}

.logout-link {
  background-color: $main-red;
  padding: 10px;
  border-radius: 10px;

  &:hover {
    background-color: $dark-red;
  }
}

.auth-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
}

.pointer {
  cursor: pointer;
}

.navbar-toggler {
  border: none;
  background: transparent;

  .navbar-toggler-icon {
    width: 25px;
    height: 3px;
    background-color: #fff;
    display: block;
    position: relative;

    &::before,
    &::after {
      content: '';
      width: 25px;
      height: 3px;
      background-color: #fff;
      display: block;
      position: absolute;
      left: 0;
    }

    &::before {
      top: -8px;
    }

    &::after {
      top: 8px;
    }
  }
}

.large-logo {
  display: block;
}

.small-logo {
  display: none;
}

@media (max-width: 1080px) {
  .large-view {
    display: none;
  }
}

@media (max-width: 911px) {
  header {
    height: auto;
    padding: 10px 0;
  }

  .nav {
    flex-direction: column;
    gap: 10px;

    a {
      font-size: 1.2em;
    }
  }

  .right-buttons {
    display: none;
  }

  .navbar-toggler {
    display: block;
  }

  .collapse {
    flex-direction: column;
  }
}

@media (max-width: 568px) {
  .large-logo {
    display: none;
  }

  .small-logo {
    display: block;
  }
}
