@import '../../../styles/colors';

header {
  height: 70px;
  background-color: $main-dark-blue;
  backdrop-filter: blur(20px);
  font-family: "Hammersmith One", sans-serif;
  transition: all 0.3s ease;

}

.nav a {
  font-size: 1.4em;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.logo {
  height: 40px;
  cursor: pointer;
}

.avatar{
  height: 30px;
  aspect-ratio: 1;
}

.logout-link {
  background-color: $main-red;
  padding: 10px;
  border-radius: 10px;

  &:hover {
    background-color: $dark-red;
  }
}


.auth-link{
text-decoration: none;
color: #fff;
font-size: 1.2em;
}

.pointer{
  cursor: pointer;
}



