.container {
  background-color: #2c2c2c;
  color: #fff;
  padding-inline: 0;
  border-radius: 10px;
}

.review {
  background-color: #444;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
}

.card {
  background-color: #444;
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  font-size: 1rem;
}

.text-end {
  text-align: right;
}

.comments-section {
  margin-top: 20px;
}

.comment-container {
  border: 1px solid #444;
  padding: 10px;
  border-radius: 5px;
  background-color: #383838;
  margin-bottom: 10px;
}

.reply-container {
  border: 1px solid #555;
  padding: 10px;
  border-radius: 5px;
  background-color: #3a3a3a;
  margin-left: 20px;
  margin-bottom: 10px;
}

.sub-reply-container {
  border: 1px solid #666;
  padding: 10px;
  border-radius: 5px;
  background-color: #9b1818;
  margin-left: 40px;
  margin-bottom: 10px;
}

button.btn-link {
  color: #1e90ff;
  text-decoration: none;
}

button.btn-link:hover {
  text-decoration: underline;
}

.movie-details-wrapper {
  padding: 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;

}
