.container {
  background-color: #2c2c2c;
  color: #fff;
}

.review {
  background-color: #444;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
}

.card {
  background-color: #444;
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  font-size: 1rem;
}

.text-end {
  text-align: right;
}
