<div class="hero-wrapper">
  <div class="overlay">
    <div class="hero-container">
      <h1 class="text-center hero-title">Benvenuti su Cult Cinema Hub
      </h1>
      <div class=" hero-body mt-2">
        <p>Cult Cinema Hub è il luogo perfetto per gli appassionati di cinema! Esplora la nostra collezione di film, leggi e scrivi recensioni, e scopri nuovi capolavori. Il nostro sito ti permette di immergerti nel mondo del cinema, trovando film di ogni genere e epoca.</p>
        <p>Con Cult Cinema Hub, puoi condividere le tue opinioni e leggere le recensioni di altri appassionati, creando una comunità di cinefili sempre pronta a discutere e valutare. Unisciti a noi, vota e recensisci i tuoi film preferiti.</p>
        <p>Immergiti nel cinema con Cult Cinema Hub e vivi l'esperienza come mai prima d'ora!</p>
      </div>
    </div>
  </div>
</div>

