@import '../../../styles/colors';


.btn {
  width: 130px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #303aad;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all .4s;
 }

 .btn:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 5px 7px 0 -2px #39a2db,
   10px 15px 0 -4px #6D1666,
   10px 16px 10px -3px #6D1666;
 }

 .btn:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  background-color: #1c2369;
  box-shadow: 5px 2px 0 -2px #39a2db,
   10px 8px 0 -4px #6D1666,
   10px 12px 10px -3px #6D1666;
 }


.login-wrapper{
  margin-block: 50px;
}
