@import '../../../styles/colors';



#login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 170px);

}

.login-wrapper{
  border-radius: 30px;
  background-color: $main-blue-transparent2;
  width: 700px;

}

.auth-alert{
  position: absolute;
  bottom: 10px;

  color: #eb7d00;
}





