
@import './styles/colors';

$primary:$main-blue;
$info:$main-red;

@import 'bootstrap/scss/bootstrap';




body{
  background-color: $main-cream;
  background-image: url(./assets/img/bg.jpg);
  background-size: cover;

  font-family: "Montserrat", sans-serif;




}


/* Sfondo scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: $main-cream;
}

/* Elemento trascinabile della scrollbar */
::-webkit-scrollbar-thumb {
  background-color: $main-red;
  border-radius: 1rem;
}

h1{
  text-transform: uppercase;
  font-weight: 600;
}
