
@import 'bootstrap/scss/bootstrap';

@import './styles/colors';



body{
  background-color: $main-cream;
  box-sizing: border-box;

}


/* Sfondo scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: #000;
}

/* Elemento trascinabile della scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #858585;
  border-radius: 1rem;
}
