
@import './styles/colors';

$primary:$main-blue;

@import 'bootstrap/scss/bootstrap';




body{
  background-color: $main-cream;
  background-image: url(./assets/img/bg.jpg);
  background-size: cover;

  box-sizing: border-box;

}


/* Sfondo scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: $main-cream;
}

/* Elemento trascinabile della scrollbar */
::-webkit-scrollbar-thumb {
  background-color: $main-red;
  border-radius: 1rem;
}
