<div class="movies-container text-white">
  <h1 class="text-center">Catalogo Film</h1>
  <button *ngIf="isAdmin$ | async" class="btn btn-primary mt-3" (click)="openAddMovieModal()">Add Movie</button>
  <div class="input-group my-4">
    <input type="text" class="form-control" placeholder="Cerca per titolo" [(ngModel)]="searchQuery" (input)="onSearch()">

  </div>
  <div *ngIf="movies.length === 0" class="alert alert-info ">Nessun film trovato contenente "{{searchQuery}}" nel titolo.</div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 gy-4  text-center">
    <div *ngFor="let movie of movies" class="col">

      <div class="card-img-container" (click)="goToMovieDetails(movie.id)">
        <img
          [src]="movie.posterImg || 'assets/img/default/default-movie.png'"
          (error)="onImageError($event)"
          class="card-img-top"
          alt="{{ movie.title }} Poster">
          <div class="thumb-overlay">
            <button *ngIf="isAdmin$ | async" class="btn btn-warning mb-5 " (click)="openEditMovieModal(movie); $event.stopPropagation()">Modifica</button>

            <div class="thumb-title">{{movie.title}}</div>

          </div>
        </div>
    </div>
  </div>

  <nav *ngIf="totalPages > 1">
    <ul class="pagination custom-pagination justify-content-center mt-4">
      <li class="page-item" [class.disabled]="currentPage === 0">
        <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo; Precedente</span>
        </a>
      </li>
      <li *ngFor="let page of [].constructor(totalPages); let i = index" class="page-item" [class.active]="i === currentPage">
        <a class="page-link" (click)="onPageChange(i)">{{ i + 1 }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
        <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">Successiva &raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
