<div class="movies-container text-white">
  <h1 class="text-center">Elenco dei Film</h1>
  <button *ngIf="isAdmin$ | async" class="btn btn-primary mt-3" (click)="openAddMovieModal()">Add Movie</button>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Cerca per titolo" [(ngModel)]="searchQuery" (keydown.enter)="onSearch()">
    <button class="btn btn-primary" type="button" (click)="onSearch()">Cerca</button>
  </div>
  <div *ngIf="movies.length === 0" class="alert alert-warning">Nessun film disponibile.</div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 gy-4">
    <div *ngFor="let movie of movies" class="col">

      <div class="card-img-container" (click)="goToMovieDetails(movie.id)">
        <img
          [src]="movie.posterImg || 'assets/img/default/default-movie.png'"
          (error)="onImageError($event)"
          class="card-img-top"
          alt="{{ movie.title }} Poster">
          <div class="thumb-overlay">
            <button *ngIf="isAdmin$ | async" class="btn btn-warning mb-5 " (click)="openEditMovieModal(movie); $event.stopPropagation()">Modifica</button>

            <div class="thumb-title">{{movie.title}}</div>

          </div>
        </div>


      <!-- <div class="card mb-4 h-100" (click)="goToMovieDetails(movie.id)">
        <div class="card-img-container">
          <img
            [src]="movie.posterImg || 'assets/img/default/default-movie.png'"
            (error)="onImageError($event)"
            class="card-img-top"
            alt="{{ movie.title }} Poster">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">{{ movie.description }}</p>
          <p><strong>Anno:</strong> {{ movie.year }}</p>
          <p><strong>Durata:</strong> {{ movie.duration }} minuti</p>
          <p><strong>Generi:</strong> {{ getGenres(movie) }}</p>
          <button *ngIf="isAdmin$ | async" class="btn btn-secondary mt-3" (click)="openEditMovieModal(movie); $event.stopPropagation()">Modifica</button>
        </div>
      </div> -->
    </div>
  </div>

  <nav *ngIf="totalPages > 1">
    <ul class="pagination custom-pagination justify-content-center mt-4">
      <li class="page-item" [class.disabled]="currentPage === 0">
        <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo; Precedente</span>
        </a>
      </li>
      <li *ngFor="let page of [].constructor(totalPages); let i = index" class="page-item" [class.active]="i === currentPage">
        <a class="page-link" (click)="onPageChange(i)">{{ i + 1 }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
        <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">Successiva &raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
